## Read Data

In [5]:
%config IPCompleter.greedy=True

In [2]:
import pandas as pd

In [3]:
fullCorpus = pd.read_csv('SMSSpamCollection.tsv', sep='\t', header=None)

## EDA

In [4]:
fullCorpus.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [ ]:
fullCorpus.columns = ['label','body_text']

In [6]:
fullCorpus.describe()

           0                       1
count   5568                    5568
unique     2                    5165
top      ham  Sorry, I'll call later
freq    4822                      30

### How many nulls ?

In [24]:
fullCorpus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5568 entries, 0 to 5567
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   label      5568 non-null   object
 1   body_text  5568 non-null   object
dtypes: object(2)
memory usage: 87.1+ KB

In [26]:
print('Number of nulls in label: {}'.format(fullCorpus['label'].isnull().sum()))
print('Number of nulls in text: {}'.format(fullCorpus['body_text'].isnull().sum()))

Number of nulls in label: 0
Number of nulls in text: 0

### How many ham/spam ?

In [21]:
fullCorpus.groupby(by='label').count()

       body_text
label
ham         4822
spam         746

In [22]:
fullCorpus['label'].value_counts()

ham     4822
spam     746
Name: label, dtype: int64

### Data dimensions ?

In [18]:
print('The input data as {} rows and {} columns.'.format(len(fullCorpus), len(fullCorpus.columns)))

The input data as 5568 rows and 2 columns.

In [13]:
fullCorpus.shape

(5568, 2)

## Regular Expressions 
- Text string for describing search pattern
- 'nlp' -> searches for nlp pattern
- '[j-q]' -> searches for characters between j & q, returns individual characters
- '[j-q]+' -> searches for characters between j & q, but also searches for strings longer than 1 character
- '[0-9]+' -> searches for numbers between 0 and 9, but also searches for numbers longer than 1 digit 
- '[j-q0-9]+' -> searches for sequencies for letters between j & q or 0 & 9

### Why is RegEx useful?
- Identify whitespace between wrods/tokens
- Identifying/creating delimiters or end-of-line escape characters 
- Removing punctuation or numbers from text 
- Clean HTML tags from text
- Identify patterns

### Use-cases
- Confirm passwords meet criteria 
- Search URL for some substring
- Searching for files on your computer
- Document scraping